<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    [opened]="!isPhonePortrait"
    #drawer
    class="example-sidenav"
    [mode]="isPhonePortrait ? 'over' : 'side'"
  >
    <h2>Admin Dashboard</h2>
    <p class="desc">Software</p>
    <mat-list>
      <mat-list-item
        [routerLink]="item.url"
        routerLinkActive="selected"
        *ngFor="let item of pagesArray"
      >
        <mat-icon slot="end">{{ item.icon }}</mat-icon>
        <span> {{ item.title }}</span>
      </mat-list-item>
    </mat-list>
    <mat-list class="logoutbottom">
      <mat-list-item routerLinkActive="selected" (click)="logout()">
        <span>
          <h4>{{ userData?.name }}</h4>
          <p>{{ userData?.email }}</p></span
        >
        <button mat-icon-button class="logout_btn">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <app-header></app-header>
    <router-outlet> </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
