<div class="signin-content animated fadeIn">
  <mat-card>
    <mat-card-content>
      <img src="assets/img/login.svg" width="200px" />
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field class="full-width-input" appearance="outline">
          <input
            matInput
            type="email"
            placeholder="Email Id"
            formControlName="email"
            required
          />
          <!-- <mat-error *ngIf="isFieldInvalid('user_name')">
            Please enter a valid username or email
          </mat-error> -->
        </mat-form-field>

        <mat-form-field class="full-width-input separate" appearance="outline">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />
          <!-- <mat-error *ngIf="isFieldInvalid('password')">
            Please enter a valid password
          </mat-error> -->
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          style="width: 100%"
          [disabled]="loginForm.invalid"
        >
          Login
          <!-- <div *ngIf="isLogin; else loginText">Loading ...</div> -->
        </button>
      </form>

      <!-- <ng-template> Login </ng-template> -->
    </mat-card-content>
    <a class="forget" (click)="forgetClick()"> Forget</a>
  </mat-card>
</div>
