.user_main {
  padding: 20px;
}
table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: none;
  th {
    color: #000000;
    font-size: 14px;
  }
  // td {
  //   border-right: 1px solid rgba(0, 0, 0, 0.12);
  // }
}
